*{
    font-family: "ubuntu";
}

.container__countries{
    display:flex;
    justify-content: space-between;
   align-items: center;
   padding: 0 calc(46px + 2px);
  
    
}

.countries{
    margin-left:50px;
    width:430px;
    height:415px;
    background-color: whitesmoke;
    border-radius: 10px;
    padding:7px 5px;

}





.message{
    position: relative;
    top:40%;
    color: rgb(192, 160, 160);
}

.separation{
    width:60px;
    height:60px;
    background-color:rgba(238, 225, 225, 0.767);
    border-radius:50%;
    display:flex;
    justify-content: center;
    align-items: center;
    color:rgb(70, 64, 64);
    text-align: center;
    cursor: pointer;
}
.separation img{
    width:30px;
    transition: .4s;
    opacity: .4;
}
.separation:hover img{
    transform: scale(1.2);
    opacity:.6;
    
}


/* ----------country--------- */

.search{
    width:380px;
    padding:8px 0;
    margin-left:20px;
    border: .3px solid #ddd;
    font-size:16px;
    text-align: center;
    outline:none;
    margin-bottom:10px;
    border-radius: 7px;
    background-color: rgb(255, 255, 255);
    color:black;
   
}




.counter{
    display:flex;
    justify-content: center;
    align-content: flex-end;
    align-items: center;
    margin-top:28px;
    padding: 4px 0;
}


.back{
    background-color: rgba(241, 235, 236, 0.822);
    width: 80px;
    color:white;
    padding:0px 0;
    cursor: pointer;
     margin: 0 7px;
     border-radius: 3px;
    box-shadow: 1px 1px 3px grey;
    border:none;
    font-size: 12px;
    font-weight: 500;
    height: 30px;
}

.back:hover{
    opacity:.9;
    transition: .3s;
}
.counting{
    width:60px;
   
    padding-top: 4px;
    
}
.next{
    height: 30px;
    padding:0px 0;
    cursor: pointer;
    border-radius: 3px;
    width: 80px;
    font-weight: 500;
    color:white;
    font-size: 12px;
    margin: 0 7px;
    box-shadow: 1px 1px 3px grey;
    border:none;
    background-color: rgba(241, 235, 236, 0.822);
}
.next:hover{
    opacity:.9;
    transition: .3s;
}