

/* fake */


.card__global__fake{
    width: 230px;
    height:110px;
    margin: 0 4px;
    border-radius: 7px;
    background-color:rgba(230, 200, 200, 0.281);
}

.title__card__fake{
    margin-top:20px;
    color: white;
     width: 100px;
     border-radius: 20px;
    height:10px;
    margin-left: 60px;
    background-color: rgba(238, 226, 226, 0.849);
}
.title__number__fake{
    width: 60px;
    height:10px;
    border-radius: 20px;
    margin-left:80px;
    background-color: rgba(238, 226, 226, 0.849);
    
}