

.visualization{
    padding:5px;
    
  width:700px;
  border-radius: 7px;
  margin:4px;
  border-radius: 7px;
  /* margin-right: 50px; */
  background-color: whitesmoke;
  height:430px; 
}

.title__visual{
  background-color: rgba(218, 213, 213, 0.219);
  border-radius:8px;
  padding: 8px;

  height:160px;
  margin-bottom:10px;
}
.title__visual img{
  width: 190px;
  border-radius:8px;
  margin-bottom:-4px;
  height:120px

}
 
.container__info__visual{
  height:240px;
  display:flex;
  justify-content: center;
  padding:2px;
  align-items: center;
  border-radius:7px;
}
.column-1{
  width: 50%;
  height: 100%;
  margin:3px;
  border-radius:7px;
  background-color:rgb(238, 231, 231);
}

.item{
  padding:0 10px;
  display:flex;
  background-color: rgb(240, 232, 232);
  margin: 2px 0;
  border-bottom:1px solid #ddd;
  height:45px;
  justify-items: center;
  justify-content: space-between;
}
.item__value{
  background-color:rgb(219, 210, 210);
  padding:3px;
  font-size:14px;
  font-weight: 500;
  height:18px;
  border-radius: 6px;
}
.item__title{
  font-size:15px;
}
.column-2{
  width: 50%;
  height: 100%;
  margin:3px;
    border-radius:7px;
  background-color:rgb(159, 24, 163);
}

  
/* spinning */
.container__spinning__loading{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top:34px;
  
}    
.spinning__loading{
  width: 30px;
  
  margin-bottom:55px;
  height: 30px;
  border-radius: 50%;
  border-left:3px solid rgb(238, 94, 94); 
  animation: scaleOnScale .4s infinite linear;
}


@keyframes scaleOnScale {
  from{
      transform: rotate(-360deg);
  }
  to{
      transform: rotate(0);
  }
}

.item__value__red{
  background-color: rgb(218, 79, 79) !important; 
  color: white !important
}