.countrie{
    height:300px;
    width:400px;
    margin-top:8px;
  
}

.country{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: .4px 23px;
    border-bottom: .4px solid #eee;
    color:rgb(58, 55, 55);
    margin: 0px 0;
    margin-left:18px;
    border-radius: 7px;
}
.country:hover{
    background-color: rgb(231, 225, 230);
    cursor: pointer;
    transition:.4s;
}

.flag {
    margin-left:-12px;
    width:28px;
}
.flag img{
    width:inherit;
}


.arrow__left{
    color:rgba(172, 167, 167, 0.575);
    font-size: 20px;
    margin-right: -10px;
}



.activePagination{
    background-color:rgb(223, 209, 209);
    border-radius: 6px;
    width:200px;
    cursor:pointer;
    transition:.4s;
}

.activePagination:hover {
    opacity:.8;
    box-shadow:0px 0px 1px grey;
}



